<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Calculator Test Suite">

    <test name="Calculator Tests">

        <classes>
            <class name="AdditionTest"/>
            <class name="SubtractionTest"/>
            <class name="MultiplicationTest"/>
            <class name="DivisionTest"/>
        </classes>

    </test>

</suite>